<div class="main">
  <div class="ghost-div">
    <div class="padding-70-flex">
      <mat-form-field class="filter-field" appearance="outline" floatLabel='never'>
        <mat-label>Fast search</mat-label>
        <input matInput [(ngModel)]="searchText"  placeholder="Ex. john.doe@devoteamgcloud.com">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>  
      <mat-paginator class="paginator" (page)="pageEvent = OnPageChange($event)" [length]="users.length" [pageSizeOptions]="[10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
    </div>
    </div>
    <div class="main_content">
      <div class="fixed-section">
    
      </div>
      <div class="config-content">  
                <mat-grid-list #grid [cols]="cols" rowHeight="130px" gutterSize="10px" >
                  <mat-grid-tile *ngFor="let user of pagedList | filter : searchText">
      
                    <mat-card class="role-card" appMaterialElevation  raisedElevation="6">
                      <mat-card-header>
                        <img mat-card-avatar class="user-avatar" *ngIf="user.avatar" [src]="user.avatar" alt="Photo of {{user.displayName}}">
                        <img mat-card-avatar class="user-avatar" *ngIf="!user.avatar" src="assets/avatar.png" alt="Photo of {{user.displayName}}">
                        <mat-card-title><span class="card-info">{{user.name || 'N/A'}}</span></mat-card-title>
                        <mat-card-subtitle><span class="card-info">{{user.role}}</span></mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <span class="custom-title">{{user.email}}</span>
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>
                </mat-grid-list>
      </div>
    </div>
      
</div>